<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Word Chain</title>
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/hint.min.css" />
    </head>

    <body>
        <div id="app">
            <div class="header">
                <div class="timer-score">
                    <div>
                        <span class="hint--top" aria-label="Remaining time">
                            {{timerCount}}
                        </span>
                    </div>
                    <div>
                        <span class="hint--top" aria-label="Score">
                            {{score}}
                        </span>
                    </div>
                </div>

                <div class="form-element">
                    <input
                        type="text"
                        v-model="input.value"
                        :placeholder="input.placeholder"
                        @keypress.enter="addWordToList"
                        :disabled="input.disabled == 1"
                    />
                    <div class="error">{{ERROR}}</div>
                </div>

                <div v-show="!timerEnabled">
                    <button class="btn-start" @click="startGame">Start</button>
                </div>
            </div>

            <div class="wordlist">
                <div class="word" v-for="(word,index) in wordList" :key="index">
                    <a :href="DICT+word" target="_blank">{{word}}</a>
                </div>
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>
